<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="../../public/styles/login.css">
    <script src="../../public/scripts/s_login.js"></script>
</head>
<body>
    <form class="form">
        <div class="Screen">
            <header class="header">
                <nav class="content_header">
                    <div class="part_1">
                        <p id="txt1">MR Medicina y Fisioterapia</p>
                    </div>
                    <div class="part_2">
                        <button type="button" class="btn-FrontPage">
                            <p id="txt2">Front Page</p>
                        </button>
                    </div>
                </nav>
            </header>
            <section class="body">
                <article class="border_image">
                    <p class="container_image">
                        
                    </p>
                </article>
                <div class="data">
                    <article class="parts">
                        <header class="part_3">
                            <p id="txt3">Mr ece</p>
                        </header>
                        <section class="part_4">
                            <p id="txt4">Expediente clínico electrónico</p>
                        </section>
                        <footer class="part_5">
                            <input type="text" placeholder="Username" class="Input_user" id="Input" autocomplete="off">
                            <button type="button" class="btn_user" id="btn">
                                <span>→</span>
                            </button>
                        </footer>
                    </article>
                </div>
            </section>
            <footer class="footer">
                <div class="content_footer">
                    <div class="txt_footer">
                        <p class="txt_6">© MR Medicina y Fisioterapia</p>
                    </div>
                </div>
            </footer>
        </div>
    </form>
</body>
</html>