<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchpatients</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="../../public/styles/search_patients.css">
    <script src="../../public/scripts/s_login.js"></script>
</head>
<body>
    <form class="form">
        <div class="Screen">
            <header class="header">
                <nav class="content_header">
                    <div class="part_1">
                        <p id="txt1">MR ece</p>
                    </div>
                    <div class="part_2">
                        <button type="button" class="btn-FrontPage">
                            <p id="txt2">Front Page</p>
                        </button>
                    </div>
                </nav>
            </header>
            <section class="body">
                <article class="search">
                    <header class="part_3">
                        <p id="txt3">Buscar paciente</p>
                    </header>
                    <section class="part_4">
                        <p id="txt4">Ingresa datos del paciente</p>
                    </section>
                    <footer class="part_5">
                        <input type="text" placeholder="Nombre | Apellido" class="Input_patient" id="Input" autocomplete="off">
                        <button type="button" class="btn_search" id="btn">
                            <span id="txt_5">Buscar</span>
                        </button>
                    </footer>
                </article>
                <button type="button" class="btn_Logout" id="btn">
                    <span id="txt_5">Logout</span>
                </button>
            </section>
        </div>
    </form>
</body>
</html>