<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>searchpatients</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap">
    <link rel="stylesheet" href="../../public/styles/search_patients.css">
    <script src="../../public/scripts/s_login.js"></script>
</head>
<body>
    <form class="form">
        <div class="Screen">
            <header class="header">
                <nav class="content_header">
                    <div class="part_1">
                        <label id="txt1">MR ece</label>
                    </div>
                    <div class="part_2">
                        <button type="button" class="btn-FrontPage">
                            <span id="txt2">Front Page</span>
                        </button>
                    </div>
                </nav>
            </header>
            <article class="body">
                <section class="part_3">
                    <header class="p1">
                        <label id="txt3">Buscar paciente</label>
                    </header>
                    <section class="p2">
                        <label id="txt4">Ingresa datos del paciente</label>
                    </section>
                    <footer class="p3">
                        <input type="text" class="Input_name" placeholder="Nombre | Apellido">
                        <button type="button" class="btn_name" id="btn">
                            <span>Buscar</span>
                        </button>
                    </footer>
                </section>
                <article class="part_4">
                    <button class="btn_Logout">
                        <span>Logout</span>
                    </button>
                </article>
                <article class="part_5">
                    <div class="container1">
                        <div class="p4">

                        </div>
                        <div class="p5">
    
                        </div>
                        <div class="p6">
                            
                        </div>
                    </div>
                </article>
            </article>
        </div>
    </form>
</body>
</html>