*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    font-family: 'Inter', sans-serif;
    overflow-x: auto;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: auto; 
}
.Screen{
    display: block;
    justify-content: space-between;
    width: 100%;
}
@keyframes entrada{
    0%{
        transform: rotate(-10deg) scale(0.9) translateX(0) translateY(0);
        opacity: 0;
    }
    100%{
        transform: rotate(0deg) scale(1) translateX(0) translateY(0);
        opacity: 1;
    }
}
@media screen and (max-width: 809px){}

@media screen and (min-width: 810px) and (max-width: 1199px){}

@media screen and (min-width: 1200px){
    .header {
        position: relative;
        display: flex;
        height: 10.17vw;
        width: 100%;
        justify-content: center;
        align-items: end;
    }
    .content_header {
        position: relative;
        display: grid; 
        grid-template-areas: "Main   button";
        width: 83.4%;
        height: 7.7vw;
        grid-template-columns: repeat(2, auto);
        align-items: center;
    }
    .part_1 {
        position: relative;
        display: flex;
        text-align: center;
        align-items: center;
        height: 2.7vw;
        width: 41.7%;
        margin-left: 9%;
    }
    #txt1 {
        font-size: 1.4vw;
    }
    .part_2 {
        position: relative;
        display: flex;
        justify-self: end;
        height: 2.7vw;
        width: 21.6%;
        padding: 0%;
        margin-right: 11.6%;
    }
    #txt2{
        font-size: 1.1vw;
    }
    .body{
        position: relative;
        display: grid;
        grid-template-areas: "search   button   patient";
        grid-template-columns: repeat(3, auto);
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        color: #FFFFFF;
        border: 1px solid purple;
    }
    .search{
        position: relative;
        width: 50.09%;
        height: auto;
        margin-top: 3.75vw;
        padding: 0%;
    }
    .part_3{
        position: relative;
        width: 1fr;
        height: auto;
        text-align: center;
    }
    #txt3{
        font-size: 6vw;
    }
    .part_4{
        position: relative;
        margin-top: 5.7%;
        margin-bottom: 5.7%;
        width: 1fr;
        height: auto;
        text-align: center;
    }
    #txt4{
        font-size: 1.8vw;
    }
    .part_5{
        position: relative;
        width: 1fr;
        height: auto;
        text-align: center;
    }
    #txt_5{
        font-weight: bold;
        font-size: 1.3vw;
    }
    .Input_patient{
        outline: none;
        color: #222222;
        background-color: #F2F2F2;
        border: none;
        border-radius: 0.75em;
        padding: 3.34%;
        font-size: 1.3vw;
        width: 64%;
        height: auto;
    }
    .btn_search{
        margin-left: 2%;
        border-radius: 0.75em;
        padding: 3.34%;
    }
}
#txt1 {
    width: 100%;
    color: #0077B6;
    font-weight: bold;
}
.btn-FrontPage{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #866DB0;
    border: none;
    border-radius: 0.5em;
    padding: 0.8vw;
    height: 100%;
    width: 100%;
}
#txt2{
    width: 100%;
    color: #FFFFFF;
    font-weight: bold;
}
#txt3{
    color: #0077B6;
    font-weight: bold; 
}
#txt4{
    color: #999999;
}
.btn_search{
    background-color: #19BE7E;
    border: none;
    color: #FFFFFF;
    border-radius: 0.75em;
    height: auto;
    text-align: center;
    align-items: center;
}
.animated {
    visibility: visible;
    animation: entrada 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}